<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Verify OTP
            </h2>
            <form action="/auth/otp" method="POST">
                <div class="form-group">
                    <input type="name" id="code" name="code" class="form-control" placeholder="Enter OTP" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Verify</button>
            </form>
        </div>
    </div>
</div>